<header
  class="flex w-full justify-between items-center h-[68px] bg-[#FDF1EB] px-8 py-1"
>
  <div class="text-[#725C5C]">
    <h4 class="text-sm">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </h4>
    <h3 class="text-xl leading-none">
      Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
    </h3>
    <h4 class="text-sm leading-tight">ISSN: 1234-5678</h4>
  </div>

  <div class="flex gap-6 text-[#333333] quicksand">
    <div
      class="flex gap-1 items-center h-[34px] py-1 px-1.5 border border-[#CCCCCC] rounded"
    >
      <img
        src="/assets/globe.png"
        alt="Ícone de do globo terrestre."
        class="pb-1"
      />
      <span class="text-sm">PT, BR</span>
      <img src="/assets/dropdown.png" alt="Ícone do dropdown." />
    </div>

    <div class="flex gap-2 h-[34px]">
      <div class="flex flex-col text-right">
        <span class="text-sm">Bem vindo!</span>
        <span class="text-xs">alguem12&#64;galoascience.com</span>
      </div>
      <div class="relative w-[32px] h-[30px]">
        <img
          src="/assets/avatar.png"
          alt="Imagem do/a usuário/a."
          class="rounded-full"
        />
        <div class="absolute -top-1 -right-1 h-4 w-4 rounded-full bg-[#F85959]">
          <span
            class="relative text-xs text-white text-center font-bold -top-[5px] -right-1"
            >2</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
