<div class="flex w-screen h-full min-h-screen">
  <aside
    class="sticky top-0 flex flex-col h-screen min-w-[220px] shadow-lg shadow-black/25"
  >
    <header
      class="flex justify-center items-center w-full h-[68px] bg-gradient-to-b from-[#FFB354] to-[#EE7A3A]"
    >
      <h1 class="text-white text-3xl font-bold">SLACA 2019</h1>
    </header>
    <img src="/assets/logo.png" alt="Logotipo do evento." />
    <nav class="flex flex-col">
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Apresentação
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Comitês
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Autores
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Eixos temáticos
      </a>
      <a
        href="#"
        class="flex gap-5 w-full border-b-2 border-[#E7E7E7] text-[#725C5C] bg-[#FDF1EB] font-medium quicksand"
      >
        <div
          class="w-[5px] h-[32px] bg-gradient-to-b from-[#FFB354] to-[#EE7A3A]"
        ></div>
        <span class="pr-5 py-1">Trabalhos</span>
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Contato
      </a>
    </nav>
  </aside>

  <main class="flex flex-col w-full h-full">
    <header
      class="flex w-full justify-between items-center h-[68px] bg-[#FDF1EB] px-8 py-1"
    >
      <div class="text-[#725C5C]">
        <h4 class="text-sm">
          Anais do Simpósio Latino Americano de Ciências de Alimentos
        </h4>
        <h3 class="text-xl leading-none">
          Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
        </h3>
        <h4 class="text-sm leading-tight">ISSN: 1234-5678</h4>
      </div>

      <div class="flex gap-6 text-[#333333] quicksand">
        <div
          class="flex gap-1 items-center h-[34px] py-1 px-1.5 border border-[#CCCCCC] rounded"
        >
          <img
            src="/assets/globe.png"
            alt="Ícone de do globo terrestre."
            class="pb-1"
          />
          <span class="text-sm">PT, BR</span>
          <img src="/assets/dropdown.png" alt="Ícone do dropdown." />
        </div>

        <div class="flex gap-2 h-[34px]">
          <div class="flex flex-col text-right">
            <span class="text-sm">Bem vindo!</span>
            <span class="text-xs">alguem12&#64;galoascience.com</span>
          </div>
          <div class="relative w-[32px] h-[30px]">
            <img
              src="/assets/avatar.png"
              alt="Imagem do/a usuário/a."
              class="rounded-full"
            />
            <div
              class="absolute -top-1 -right-1 h-4 w-4 rounded-full bg-[#F85959]"
            >
              <span
                class="relative text-xs text-white text-center font-bold -top-[5px] -right-1"
                >2</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="flex flex-col px-10 gap-3">
      <header class="flex justify-between items-start pt-5 gap-6">
        <h2 class="text-xl font-black text-[#ED7839] break-words max-w-[780px]">
          {{ title }}
        </h2>
        <div class="flex flex-col gap-3">
          <div class="flex justify-end gap-1 text-white">
            <button
              type="button"
              class="flex gap-1 items-center bg-[#ED7839] rounded px-2 py-1"
            >
              <img src="/assets/download.png" alt="Ícone de download" />
              Download
            </button>
            <button type="button" class="bg-[#ED7839] rounded px-2 py-1">
              <span class="sr-only">Favoritar trabalho</span>
              <img src="/assets/fav.png" alt="Ícone de favoritar." />
            </button>
            <button type="button" class="bg-[#ED7839] rounded px-2 py-1">
              <span class="sr-only">Acessar DOI do trabalho.</span>
              <img src="/assets/doi.png" alt="Ícone do DOI." />
            </button>
          </div>
          <span class="uppercase text-sm font-medium text-[#ED7839] text-right">
            Como citar esse trabalho?
          </span>
        </div>
      </header>

      <section class="flex gap-10 justify-center items-start h-full">
        <div>
          <img
            src="/assets/video.png"
            alt="Imagem simbolizando um player de vídeo."
          />
        </div>

        <aside
          class="rounded-sm border border-[#ECECEC] w-[242px] max-h-[423px] h-full"
        >
          <header class="bg-[#FDF1EB] px-4 py-2 border-b border-[#ECECEC]">
            <h3 class="text-xl font-medium text-[#4E4E4E]">Detalhes</h3>
          </header>
          <section
            class="flex flex-col gap-5 px-3.5 py-4 quicksand text-[#5C5C5C]"
          >
            <div class="flex flex-col gap-1.5 text-xs">
              <h4 class="leading-[14.4px]">
                Tipo de apresentação: <strong>Pôster</strong>
              </h4>
              <h4 class="leading-[14.4px]">
                Eixo temático: <strong>Alimentação e saúde (AS)</strong>
              </h4>
              <h4 class="leading-[14.4px]">
                Palavras-chave:
                <strong>Alimentos funcionais, alimentação escolar.</strong>
              </h4>
            </div>

            <div>
              <h3 class="text-sm font-bold">Autores:</h3>
              <div class="flex flex-col text-xs pt-1">
                <span>Galileo Galilei<sup>1</sup></span>
                <span>Berta Lange de Morretes<sup>2</sup></span>
                <span>Isaac Newton<sup>3</sup></span>
                <span>Cesar Lattes<sup>1</sup></span>
                <span>Stephen Hawking<sup>4</sup></span>
              </div>
              <div class="flex flex-col text-xs text-[#ADA0A0] pt-8 pb-2">
                <span><sup>1</sup>Universidade Estadual de Campinas</span>
                <span><sup>2</sup>Universidade de São Paulo</span>
                <span>
                  <sup>3</sup>Instituto Nacional de Pesquisas Espaciais
                </span>
                <span><sup>4</sup>Universidade Federal do Rio de Janeiro</span>
              </div>
            </div>
          </section>
        </aside>
      </section>
    </section>

    <footer></footer>
  </main>
</div>
