<div class="flex w-screen h-full min-h-screen">
  <aside
    class="sticky top-0 flex flex-col h-screen min-w-[220px] shadow-lg shadow-black/20"
  >
    <header
      class="flex justify-center items-center w-full h-[68px] bg-gradient-to-b from-[#FFB354] to-[#EE7A3A]"
    >
      <h1 class="text-white text-3xl font-bold">SLACA 2019</h1>
    </header>
    <img src="/assets/logo.png" alt="Logotipo do evento." />
    <nav class="flex flex-col">
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Apresentação
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Comitês
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Autores
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Eixos temáticos
      </a>
      <a
        href="#"
        class="flex gap-5 w-full border-b-2 border-[#E7E7E7] text-[#725C5C] bg-[#FDF1EB] font-medium quicksand"
      >
        <div
          class="w-[5px] h-[32px] bg-gradient-to-b from-[#FFB354] to-[#EE7A3A]"
        ></div>
        <span class="pr-5 py-1">Trabalhos</span>
      </a>
      <a
        href="#"
        class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
      >
        Contato
      </a>
    </nav>
  </aside>

  <main class="flex flex-col w-full h-full">
    <header
      class="flex w-full justify-between items-center h-[68px] bg-[#FDF1EB] px-8 py-1"
    >
      <div class="text-[#725C5C]">
        <h4 class="text-sm">
          Anais do Simpósio Latino Americano de Ciências de Alimentos
        </h4>
        <h3 class="text-xl leading-none">
          Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
        </h3>
        <h4 class="text-sm leading-tight">ISSN: 1234-5678</h4>
      </div>

      <div class="flex gap-6 text-[#333333]">
      <div></div>

        <div class="flex gap-2 h-[34px]">
          <div class="flex flex-col text-right">
            <span class="text-sm">Bem vindo!</span>
            <span class="text-xs">alguem12&#64;galoascience.com</span>
          </div>
          <img
            src="/assets/avatar.png"
            alt="Imagem do/a usuário/a."
            class="rounded-full"
          />
        </div>
      </div>
    </header>

    <section></section>
    <footer></footer>
  </main>
</div>
