<div class="flex w-screen h-full min-h-screen">
  <app-sidebar></app-sidebar>

  <main class="flex flex-col w-full h-full">
    <app-header></app-header>

    <section class="flex flex-col px-10 gap-3">
      <header class="flex justify-between items-start pt-5 gap-6">
        <h2 class="text-xl font-black text-[#ED7839] break-words max-w-[780px]">
          {{ title }}
        </h2>
        <div class="flex flex-col gap-3">
          <div class="flex justify-end gap-1 text-white">
            <button
              type="button"
              class="flex gap-1 items-center bg-[#ED7839] rounded px-3 py-1"
            >
              <img src="/assets/download.png" alt="Ícone de download" />
              Download
            </button>
            <button type="button" class="bg-[#ED7839] rounded px-3 py-1">
              <span class="sr-only">Favoritar trabalho</span>
              <img src="/assets/fav.png" alt="Ícone de favoritar." />
            </button>
            <button type="button" class="bg-[#ED7839] rounded px-3 py-1">
              <span class="sr-only">Acessar DOI do trabalho.</span>
              <img src="/assets/doi.png" alt="Ícone do DOI." />
            </button>
          </div>
          <span class="uppercase text-sm font-medium text-[#ED7839] text-right">
            Como citar esse trabalho?
          </span>
        </div>
      </header>

      <section
        class="flex gap-10 justify-between 2xl:justify-center items-start"
      >
        <div>
          <img
            src="/assets/video.png"
            alt="Imagem simbolizando um player de vídeo."
            class="max-h-[423px]"
          />
        </div>

        <aside
          class="rounded-sm border border-[#ECECEC] w-[242px] max-h-[423px] h-full"
        >
          <header class="bg-[#FDF1EB] px-4 py-2 border-b border-[#ECECEC]">
            <h3 class="text-xl font-medium text-[#4E4E4E]">Detalhes</h3>
          </header>
          <section
            class="flex flex-col gap-5 px-3.5 py-4 quicksand text-[#5C5C5C] max-h-[378px] overflow-y-auto"
          >
            <div class="flex flex-col gap-1.5 text-xs">
              <h4 class="leading-[14.4px]">
                Tipo de apresentação: <strong>Pôster</strong>
              </h4>
              <h4 class="leading-[14.4px]">
                Eixo temático: <strong>Alimentação e saúde (AS)</strong>
              </h4>
              <h4 class="leading-[14.4px]">
                Palavras-chave:
                <strong>Alimentos funcionais, alimentação escolar.</strong>
              </h4>
            </div>

            <div>
              <h3 class="text-sm font-bold">Autores:</h3>
              <div class="flex flex-col text-xs pt-1">
                <span>Galileo Galilei<sup>1</sup></span>
                <span>Berta Lange de Morretes<sup>2</sup></span>
                <span>Isaac Newton<sup>3</sup></span>
                <span>Cesar Lattes<sup>1</sup></span>
                <span>Stephen Hawking<sup>4</sup></span>
              </div>
              <div class="flex flex-col text-xs text-[#ADA0A0] pt-8 pb-2">
                <span><sup>1</sup>Universidade Estadual de Campinas</span>
                <span><sup>2</sup>Universidade de São Paulo</span>
                <span>
                  <sup>3</sup>Instituto Nacional de Pesquisas Espaciais
                </span>
                <span><sup>4</sup>Universidade Federal do Rio de Janeiro</span>
              </div>
            </div>
          </section>
        </aside>
      </section>

      <section
        class="flex flex-col rounded-sm border border-[#ECECEC] w-full mt-4"
      >
        <header class="bg-[#FDF1EB] px-4 py-2 border-b border-[#ECECEC]">
          <h3 class="text-xl font-medium text-[#4E4E4E]">Resumo</h3>
        </header>
        <div
          class="flex flex-col gap-8 p-4 text-sm text-[#5C5C5C] max-w-full break-words leading-relaxed"
        >
          <p class="max-w-full">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus
            felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
            auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl,
            vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut
            viverra lorem vestibulum ut. Phasellus condimentum orci id leo
            condimentum lobortis et non lorem. Sed id nisl metus. Quisque
            sollicitudin ligula in sapien scelerisque, ac gravida eros
            vestibulum.
            <button
              class="text-sm font-bold text-[#ED7839] btn-show-more"
              (click)="toggleShowMore()"
              *ngIf="!showingMore"
            >
              ver mais
            </button>
          </p>
          <p *ngIf="showingMore">
            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna.
            Proin dapibus consequat feugiat. Proin dictum justo arcu, quis
            vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus
            mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim,
            tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna
            libero, eget interdum eros volutpat ullamcorper. Pellentesque et
            pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec
            ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet
            odio.
          </p>
          <p *ngIf="showingMore">
            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque
            ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus.
            Integer scelerisque neque dui, in lacinia erat molestie eu.
            Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim
            quis purus semper, efficitur facilisis turpis. Praesent blandit
            elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar
            lobortis consectetur non odio. Phasellus at lacus hendrerit,
            vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci.
            Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend
            massa, eu posuere mauris odio id odio. Morbi eu libero luctus,
            consectetur lorem vel, interdum sapien. Aenean in porta arcu.
            Maecenas eu maximus massa.
          </p>
          <p *ngIf="showingMore">
            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo.
            Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi.
            Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus
            luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh,
            viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu.
            Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus
            placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit.
            <button
              class="text-sm font-bold text-[#ED7839] btn-show-more"
              (click)="toggleShowMore()"
              *ngIf="showingMore"
            >
              ver menos
            </button>
          </p>
        </div>
      </section>

      <section
        class="flex flex-col rounded-sm border border-[#ECECEC] w-full mt-4"
      >
        <header class="bg-[#FDF1EB] px-4 py-2 border-b border-[#ECECEC]">
          <h3 class="text-xl font-medium text-[#4E4E4E]">Discussões</h3>
        </header>

        <div *ngIf="commentMode === 'waiting'">
          <div class="flex flex-col justify-center w-full py-4 gap-6">
            <h4 class="text-lg font-bold text-[#ED7839] text-center">
              Compartilhe suas ideias ou dúvidas com os autores!
            </h4>
            <div class="flex justify-center items-center gap-14 w-full">
              <img src="/assets/dis-icon1.png" alt="" />
              <img src="/assets/dis-icon2.png" alt="" />
              <img src="/assets/dis-icon3.png" alt="" />
            </div>
            <h5 class="quicksand text-sm text-[#595959] text-center">
              Sabia que o maior estímulo no desenvolvimento científico e
              cultural é a curiosidade? Deixe seus <br />
              questionamentos ou sugestões para o autor!
            </h5>
          </div>
          <div class="flex relative justify-center items-center w-full">
            <div class="absolute top-[50%] w-[97%] h-[1px] bg-[#E7E7E7]"></div>
            <button
              class="flex items-center gap-2 z-10 px-3 py-1 bg-gradient-to-b from-[#FEB254] to-[#F0813D] rounded text-white quicksand font-bold shadow-md btn-create-topic"
              (click)="changeCommentMode('creating')"
            >
              <img src="/assets/create.png" alt="" />
              criar tópico
            </button>
          </div>
        </div>

        <div *ngIf="commentMode === 'creating'">
          <div class="flex flex-col justify-center w-full py-4 gap-6">
            <span class="quicksand text-sm text-[#595959] text-center">
              Tem uma dúvida ou sugestão? Compartilhe seu feedback com os
              autores!
            </span>
          </div>
          <form (submit)="onSubmit()" class="flex flex-col px-4 pb-4">
            <div class="pb-2">
              <label for="subject" class="text-[#ED7839] font-bold">
                Assunto
              </label>
              <input
                id="subject"
                name="subject"
                type="text"
                placeholder="Defina um tópico sucinto para notificar os autores..."
                class="quicksand text-sm rounded border border-[#CCCCCC] w-full px-5 py-1.5 outline-none"
              />
            </div>
            <div class="flex flex-col">
              <label for="content" class="text-[#ED7839] font-bold">
                Conteúdo
              </label>
              <textarea
                id="content"
                name="content"
                class="quicksand text-sm rounded-t border border-[#CCCCCC] w-full px-5 py-1.5 outline-none"
                rows="4"
              ></textarea>
            </div>
            <div class="flex w-full h-[31px]">
              <div
                class="w-full h-full bg-[#EAF1F2] border border-[#CCCCCC] border-t-0 rounded-bl"
              ></div>
              <button
                type="submit"
                class="h-full bg-gradient-to-b from-[#FEB154] to-[#F1833E] text-white font-bold quicksand px-16 rounded-br"
              >
                Enviar
              </button>
            </div>
          </form>
          <div class="flex justify-center items-center w-full">
            <div class="w-[97%] h-[1px] bg-[#E7E7E7]"></div>
          </div>
        </div>

        <div *ngIf="commentMode === 'created'">
          <div class="flex flex-col justify-center w-full py-4 gap-4">
            <h4 class="text-lg font-bold text-[#ED7839] text-center">
              Seu tópico foi enviado com sucesso! :D
            </h4>
            <h5 class="quicksand text-sm text-[#595959] text-center">
              Agradecemos por sua contribuição, uma notificação será enviada ao
              seu email assim que seu tópico for respondido!
            </h5>
            <a
              href="#"
              class="quicksand text-sm text-[#F48F44] font-medium text-center underline pt-4 pb-8"
            >
              Descubra outros trabalhos!
            </a>
          </div>
          <div class="flex relative justify-center items-center w-full">
            <div class="absolute top-[50%] w-[97%] h-[1px] bg-[#E7E7E7]"></div>
            <button
              class="flex items-center gap-2 z-10 px-10 py-1 bg-gradient-to-b from-[#FEB254] to-[#F0813D] rounded text-white quicksand font-bold shadow-md btn-create-topic"
              (click)="changeCommentMode('creating')"
            >
              criar novo tópico
            </button>
          </div>
        </div>

        <ul class="flex flex-col gap-6 px-4 py-4">
          <li
            *ngIf="commentCreated"
            class="flex flex-col relative px-5 py-4 gap-2 shadow-md border border-[#E7E7E7] rounded"
          >
            <div
              class="flex flex-col absolute inset-0 justify-center items-center w-full h-full gap-2 backdrop-blur-sm bg-gray-400/10"
            >
              <img src="/assets/submited.png" alt="" />
              <span class="quicksand font-bold text-[#707070]">
                Aguardando feedback dos autores
              </span>
              <button
                class="font-[Sagoe_UI] text-[#ED7839] text-sm underline text-center"
              >
                Editar tópico
              </button>
            </div>

            <div class="flex flex-col">
              <h5 class="quicksand font-bold text-[#ED7839]">
                Assunto da pergunta aparece aqui
              </h5>
              <span class="quicksand font-medium text-[#5C5C5C] text-xs">
                Carlos Henrique Santos
              </span>
            </div>
            <p class="quicksand text-sm text-[#4D4D4D]">
              Comecinho da pergunta aparece aqui resente relato inscreve-se no
              campo da análise da dimensão e impacto de processo formativo
              situado impacto de processo formativo processo...
            </p>
            <div
              class="flex items-center gap-4 font-[Sagoe_UI] font-[350] text-[#757575] text-sm"
            >
              <div class="invisible">
                <button>
                  <span class="sr-only"
                    >Botão para ver mais informações sobre o tópico.</span
                  >
                  <img src="/assets/more-info.png" alt="" />
                </button>
                <button class="rounded px-2 py-1.5 bg-[#ED7839] shadow">
                  <span class="sr-only">Botão para dar like no tópico.</span>
                  <img src="/assets/heart.png" alt="" />
                </button>
                <span>1 like</span>
                <span>1 resposta</span>
              </div>
            </div>
          </li>

          <li
            class="flex flex-col px-5 py-4 gap-2 shadow-md border border-[#E7E7E7] rounded"
          >
            <div class="flex flex-col">
              <h5 class="quicksand font-bold text-[#ED7839]">
                Assunto da pergunta aparece aqui
              </h5>
              <span class="quicksand font-medium text-[#5C5C5C] text-xs">
                Carlos Henrique Santos
              </span>
            </div>
            <p class="quicksand text-sm text-[#4D4D4D]">
              Comecinho da pergunta aparece aqui resente relato inscreve-se no
              campo da análise da dimensão e impacto de processo formativo
              situado impacto de processo formativo processo...
            </p>
            <div
              class="flex items-center gap-4 font-[Sagoe_UI] font-[350] text-[#757575] text-sm"
            >
              <button>
                <span class="sr-only"
                  >Botão para ver mais informações sobre o tópico.</span
                >
                <img src="/assets/more-info.png" alt="" />
              </button>
              <button class="rounded px-2 py-1.5 bg-[#ED7839] shadow">
                <span class="sr-only">Botão para dar like no tópico.</span>
                <img src="/assets/heart.png" alt="" />
              </button>
              <span>1 like</span>
              <span>1 resposta</span>
            </div>
          </li>
          <li
            class="flex flex-col px-5 py-4 gap-2 shadow-md border border-[#E7E7E7] rounded"
          >
            <div class="flex flex-col">
              <h5 class="quicksand font-bold text-[#ED7839]">
                Assunto da pergunta aparece aqui
              </h5>
              <span class="quicksand font-medium text-[#5C5C5C] text-xs">
                Carlos Henrique Santos
              </span>
            </div>
            <p class="quicksand text-sm text-[#4D4D4D]">
              Comecinho da pergunta aparece aqui resente relato inscreve-se no
              campo da análise da dimensão e impacto de processo formativo
              situado impacto de processo formativo processo...
            </p>
            <div
              class="flex items-center gap-4 font-[Sagoe_UI] font-[350] text-[#757575] text-sm"
            >
              <button>
                <span class="sr-only"
                  >Botão para ver mais informações sobre o tópico.</span
                >
                <img src="/assets/more-info.png" alt="" />
              </button>
              <button class="rounded px-2 py-1.5 bg-[#ED7839] shadow">
                <span class="sr-only">Botão para dar like no tópico.</span>
                <img src="/assets/heart.png" alt="" />
              </button>
              <span>1 like</span>
              <span>1 resposta</span>
            </div>
          </li>
        </ul>
      </section>
    </section>

    <footer></footer>
  </main>
</div>
