<li
  *ngIf="!isWaiting"
  role="button"
  class="flex flex-col shadow-md answered-topic rounded-b"
>
  <div
    class="flex flex-col px-5 py-4 gap-2 border border-[#E7E7E7] cursor-pointer {{
      isOpen ? 'rounded-t' : 'rounded'
    }}"
    (click)="toggleOpen()"
  >
    <div class="flex flex-col">
      <h5 class="quicksand font-bold text-[#ED7839] ops-topic-subject">
        Assunto da pergunta aparece aqui
      </h5>
      <span class="quicksand font-medium text-[#5C5C5C] text-xs">
        Carlos Henrique Santos
      </span>
    </div>
    <p class="quicksand text-sm text-[#4D4D4D]">
      Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
      análise da dimensão e impacto de processo formativo situado impacto de
      processo formativo processo...
    </p>
    <div
      class="flex items-center gap-4 font-[Sagoe_UI] font-[350] text-[#757575] text-sm"
    >
      <button>
        <span class="sr-only">
          Botão para ver mais informações sobre o tópico.
        </span>
        <img src="/assets/more-info.png" alt="" />
      </button>
      <button class="rounded px-2 py-1.5 bg-[#ED7839] shadow">
        <span class="sr-only">Botão para dar like no tópico.</span>
        <img src="/assets/heart.png" alt="" />
      </button>
      <span>1 like</span>
      <span>4 respostas</span>
    </div>
  </div>

  <ul
    *ngIf="isOpen"
    class="flex flex-col border-x border-[#E7E7E7] quicksand rounded-b"
  >
    <li
      class="flex flex-col gap-2 px-6 py-3 border-b border-[#E7E7E7] bg-[#F8F8F8]"
    >
      <header class="flex justify-between items-center gap-10">
        <span class="text-xs font-bold text-[#5C5C5C]">Adriano da Silva</span>
        <div class="flex gap-6">
          <span class="quicksand font-bold text-sm text-[#ED7839]">Autor</span>
          <img src="/assets/author.png" alt="" />
        </div>
      </header>
      <div class="text-sm text-[#4D4D4D]">
        <p>
          Resposta do autor é aqui. Relato inscreve-se no campo da análise da
          dimensão e impacto de processo formativo situado impacto de processo
          formativo processo resente relato inscreve-se no campo da análise da
          dimensão e impacto de processo formativo situado impacto de processo
          formativo processo.
        </p>
      </div>
    </li>

    <li class="flex flex-col gap-2 px-6 py-3 border-b border-[#E7E7E7]">
      <header>
        <span class="text-xs font-bold text-[#5C5C5C]"
          >Carlos Henrique Santos</span
        >
        <div></div>
      </header>
      <div class="text-sm text-[#4D4D4D]">
        <p>
          Consegui entender melhor agora! Parece que a variação da análise da
          dimensão e impacto de processo formativo situado impacto de processo
          formativo. <br /><br />
          Obrigada pela resposta, muito interessante o seu trabalho!
        </p>
      </div>
    </li>

    <li
      class="flex flex-col gap-2 px-6 py-3 border-b border-[#E7E7E7] bg-[#F8F8F8]"
    >
      <header class="flex justify-between items-center gap-10">
        <span class="text-xs font-bold text-[#5C5C5C]">
          Carmila Ferreira Andrade
        </span>
        <div class="flex gap-6">
          <span class="quicksand font-bold text-sm text-[#ED7839]"
            >Coautor</span
          >
          <img src="/assets/author.png" alt="" />
        </div>
      </header>
      <div class="text-sm text-[#4D4D4D]">
        <p>
          Também ínteressante lembrar que o relato inscreve-se no campo da
          análise da dimensão e impacto de processo formativo situado impacto de
          processo formativo processo resente relato inscreve-se no campo da
          análise da dimensão e impacto de processo formativo situado impacto de
          processo formativo processo.
          <br /><br />
          Situado impacto de processo formativo processo resente relato
          inscreve-se no campo da análise da dimensão e impacto de processo
          formativo situado impacto de processo formativo processo.
        </p>
      </div>
    </li>

    <li
      class="flex flex-col gap-2 px-6 py-3 border-b border-[#E7E7E7] bg-[#F8F8F8] rounded-b"
    >
      <header class="flex justify-between items-center gap-10">
        <span class="text-xs font-bold text-[#5C5C5C]">Ana Carolina</span>
        <div class="flex gap-6">
          <span class="quicksand font-bold text-sm text-[#ED7839]">
            Coautor
          </span>
          <img src="/assets/author.png" alt="" />
        </div>
      </header>
      <div class="text-sm text-[#4D4D4D]">
        <p>
          Resposta do autor é aqui. Relato inscreve-se no campo da análise da
          dimensão e impacto de processo formativo situado impacto de processo
          formativo processo resente relato inscreve-se no campo da análise da
          dimensão e impacto de processo formativo situado impacto de processo
          formativo processo.
        </p>
      </div>
    </li>
  </ul>
</li>

<li
  *ngIf="isWaiting"
  class="flex flex-col relative px-5 py-4 gap-2 shadow-md border border-[#E7E7E7] rounded"
>
  <div
    class="flex flex-col absolute inset-0 justify-center items-center w-full h-full gap-2 backdrop-blur-sm bg-gray-400/10"
  >
    <img src="/assets/submited.png" alt="" />
    <span class="quicksand font-bold text-[#707070]">
      Aguardando feedback dos autores
    </span>
    <button
      class="font-[Sagoe_UI] text-[#ED7839] text-sm underline text-center"
    >
      Editar tópico
    </button>
  </div>

  <div class="flex flex-col">
    <h5 class="quicksand font-bold text-[#ED7839]">
      Assunto da pergunta aparece aqui
    </h5>
    <span class="quicksand font-medium text-[#5C5C5C] text-xs">
      Carlos Henrique Santos
    </span>
  </div>
  <p class="quicksand text-sm text-[#4D4D4D]">
    Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
    análise da dimensão e impacto de processo formativo situado impacto de
    processo formativo processo...
  </p>
  <div
    class="flex items-center gap-4 font-[Sagoe_UI] font-[350] text-[#757575] text-sm"
  >
    <div class="invisible">
      <button>
        <span class="sr-only"
          >Botão para ver mais informações sobre o tópico.</span
        >
        <img src="/assets/more-info.png" alt="" />
      </button>
      <button class="rounded px-2 py-1.5 bg-[#ED7839] shadow">
        <span class="sr-only">Botão para dar like no tópico.</span>
        <img src="/assets/heart.png" alt="" />
      </button>
      <span>1 like</span>
      <span>1 resposta</span>
    </div>
  </div>
</li>
