<aside
  class="sticky top-0 flex flex-col h-screen min-w-[220px] shadow-lg shadow-black/25"
>
  <header
    class="flex justify-center items-center w-full h-[68px] bg-gradient-to-b from-[#FFB354] to-[#EE7A3A]"
  >
    <h1 class="text-white text-3xl font-bold">SLACA 2019</h1>
  </header>
  <img src="/assets/logo.png" alt="Logotipo do evento." />
  <nav class="flex flex-col">
    <a
      href="#"
      class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
    >
      Apresentação
    </a>
    <a
      href="#"
      class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
    >
      Comitês
    </a>
    <a
      href="#"
      class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
    >
      Autores
    </a>
    <a
      href="#"
      class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
    >
      Eixos temáticos
    </a>
    <a
      href="#"
      class="flex gap-5 w-full border-b-2 border-[#E7E7E7] text-[#725C5C] bg-[#FDF1EB] font-medium quicksand"
    >
      <div
        class="w-[5px] h-[32px] bg-gradient-to-b from-[#FFB354] to-[#EE7A3A]"
      ></div>
      <span class="pr-5 py-1">Trabalhos</span>
    </a>
    <a
      href="#"
      class="w-full border-b-2 border-[#E7E7E7] px-5 py-1 text-[#725C5C] font-medium quicksand"
    >
      Contato
    </a>
  </nav>
</aside>
